body {
    margin: 0;
    background: #D8DFB7;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between; /* Adjust this to change the spacing between the boxes */
}

/* Styling for the scrollable list and statistics box */
.scrollable-list, .statistics-box {
    width: 25%; /* Adjust width if needed */
    border: 2px solid black;
    box-sizing: border-box;
    margin: 10px; /* Adjust margin if needed */
}

/* Styling for the scrollable list to make it actually scrollable */
.scrollable-list {
    height: 100px; /* Adjust height if needed */
    overflow-y: auto;
}